{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>LOGIN IN</h1>
      <form>
        <label>Email</label>
        <input type="email" placeholder="Enter email" />
        <label>Password</label>
        <input type="password" placeholder="Enter Password" />
        <input type="submit" value="SUBMIT" />
      </form>
      <p class="para-2">
        Not an account? <a href="signup.html">SignUp</a> here
      </p>
    </div>
   
  </body>
</html>